/* General */

.wrapper {
    margin: 0 auto;
    padding: 60px 30px 85px;
}

.section-title {
  margin-bottom: 60px;
  text-align: center;
}

.bkgrnd-contrast {
  background-color: #edefed
}

/* Above the fold */
#bgvid {
  min-width: 100%;
  height: auto;
}

#welcome-note {
  margin: 0 auto;
  text-align: center;
}

/* "Offering" Section */

#offering {
    margin: 0 auto;
}

#first-geetar img {
  margin: 0 auto;
  max-width: 80%;
  min-width: 280px;
  height: auto;
  display:block;
}

#offering h1 {
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
}

#offering p {
  text-align: center;
  max-width: 700px;
  margin: 24px auto;
}

/* "Process" Section */

#our-process h4 {
  text-align: center;
  text-transform: uppercase;
}

#process {
  display: flex;
  flex-direction: row;
  /*flex-wrap: wrap;*/
  justify-content: center;
  align-items: flex-start;
}

.process-step {
  text-align: center;
  padding: 0 3vw;
  min-width: 200px;
  max-width: 400px;
}

.process-step h2 {
  text-transform: uppercase;
}

/* Breakpoint that fixes process for mobile */
@media screen and (max-width: 620px){
  #process {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .process-step {
    text-align: center;
    padding: 0 3vw;
    min-width: 200px;
    max-width: 300px;
    margin: 0 auto;
  }
}

/* Testimonials Section */

.testimonials-container {
      max-width: 1080px;
      margin: 0 auto;
}

blockquote {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
}

.testimonial-words {
    margin-left: 90px;
}

blockquote.testimonial-quote {
    font-size: 20px;
    margin: 0;
}

.testimonial-quote-source {
    color: #68574d;
    font-weight: bold;
    margin: 20px 0 0;
}

  .home-testimonial {
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 0 30px;
    text-align: left;
    margin-bottom: 60px;
    width: 49%;
  }

  .home-testimonial-face {
    position: absolute;
    top: 0;
    left: 30px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}


/* Store Section */

#store {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
}

.store-item {
    padding: 0 2vw;
}
