#bgvid {
  min-width: 100%;
  height: auto;
}

#welcome-note {
  margin: 0 auto;
  text-align: center;
}

#process {
  display: flex;
  flex-direction: row;
  /*flex-wrap: wrap;*/
  justify-content: center;
  align-items: flex-start;
}

.process-step {
  text-align: center;
  padding: 0 3vw;
  min-width: 200px;
  max-width: 400px;
}

/* Breakpoint that fixes process for mobile */
@media screen and (max-width: 620px){
  #process {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .process-step {
    text-align: center;
    padding: 0 3vw;
    min-width: 200px;
    max-width: 300px;
    margin: 0 auto;
  }
}
