/* General */

.wrapper {
    margin: 0 auto;
    padding: 60px 30px 85px;
}

.section-title {
  margin-bottom: 60px;
  text-align: center;
}

.section-subtitle {
  text-align: center;
}

.bkgrnd-contrast {
  background-color: #f9f5ed;
}

section {
  display:block;
}

.text-center {
  text-align: center
}

.hidden {
  display: none;
}

/* Above the fold */
#bgvid {
  min-width: 100%;
  height: auto;
  position: relative;
}

#welcome-note {
  margin: 0 auto;
  text-align: center;
}

#welcome {
  display: none;
}

/* Slider Style*/

.guitar-slider {
  margin-bottom: 2vh;
}

.slider-img {
  margin: 0 auto;
  max-width: 80%;
  min-width: 280px;
  max-height: 500px;
  height: auto;
}

/* "Offering" Section */

#offering {
    margin: 0 auto;
}

#first-geetar img {
  margin: 0 auto;
  max-width: 80%;
  min-width: 280px;
  height: auto;
  display:block;
}

#offering h1 {
  text-align: center;
  margin: 0 auto;
}

#offering p {
  text-align: center;
  max-width: 700px;
  margin: 24px auto;
}

/* "Process" Section */

#our-process h4 {
  text-align: center;
}

#process {
  display: flex;
  flex-direction: row;
  /*flex-wrap: wrap;*/
  justify-content: center;
  align-items: flex-start;
}

.process-step {
  text-align: center;
  padding: 0 3vw;
  min-width: 280px;
  max-width: 400px;
}

.process-icon {
  height: 200px;
  width: auto;
  margin: 0 auto 3vh auto;
}

/* Breakpoint that fixes process for mobile */
@media screen and (max-width: 620px){
  #process {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .process-step {
    text-align: center;
    padding: 0 3vw;
    min-width: 200px;
    max-width: 300px;
    margin: 0 auto;
  }
}

/* Testimonials Section */

.testimonials-container {
      max-width: 1080px;
      margin: 0 auto;
}

.home-testimonial {
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 0 30px;
  text-align: left;
  margin-bottom: 60px;
  width: 49%;
}

.home-testimonial-face {
  position: absolute;
  top: 0;
  left: 30px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.testimonial-words {
    margin-left: 90px;
}

blockquote.testimonial-quote {
    font-size: 20px;
    margin: 0;
}

.testimonial-quote-source {
    color: #68574d;
    font-weight: bold;
    margin: 20px 0 0;
}

@media screen and (max-width: 864px){
  .wrapper{
    padding: 60px 15px 85px;
  }
  .home-testimonial {
    display: block;
    position: relative;
    padding: 0;
    margin: 0 auto 40px auto;
    width: 100%;
  }
  .home-testimonial-face {
    left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }
  .testimonial-words {
    margin-left: 72px;
  }
  blockquote.testimonial-quote {
    font-size: 1.1em;
  }
}

/* Featured Artist */
#featured-artist-geetar  {
  display:;
  max-width: 540px;
}

#featured-artist-geetar img {
  max-width: 500px;
  height: auto;
}

.feet-artist-container {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
}


#featured-artist-flex-parent {
  max-width: 540px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-left: 40px;

}

.featured-artist-child {
  background-color: #fff;
  min-width: 11vw;
  height: 11vw;
  margin: 2vh;
  text-align:center;
}

/* Browse or Build*/

#browse-or-build {

}

.b-or-b-parent {
  max-width: 1220px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.b-or-b-child {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}

/* Mailing List */

#mail-signup {
  height: 600px;
}

.mailing-wrapper form {
    max-width: 540px;
    margin: 30px auto 0;
    font-size: 0;
}

input[type="email"].mailing-list-email {
    width: 70%;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    height: 50px;
    padding: 15px;
    border: 1px solid #ede7e4;
    color: #988980;
    border-radius: 5px;
    background-color: #fff;
    cursor: auto;
}

.mailing-list-submit {
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
}

.mailing-list-submit input[type="submit"] {
    width: 100%;
    background: #c6b9b1;
    color: #ffffff;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    line-height: 50px;
}

/* Image Revealer */

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}

.image-reveal {
  position: relative;
}

.under-slide {
  position: relative;
  overflow: hidden;
  padding-top: 41%;
  top: 0;
  left: 0;
  background: url("http://www.fmicassets.com/demandware/assets/acoustic-guitars/overview/acoustic-guitar-overview-classical-guitar-mobile.png") no-repeat;
  background-size: cover;
}

.over-slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transform: translateX(0px);
  overflow: hidden;
}

.over-image {
  height: 100%;
  width: 100%;
  background: url("/img/CG_Guitar_Liberty.png") no-repeat;
  background-size: cover;
  -webkit-transform: translateX(0px);
}

.divider {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  margin-left: -2px;
  background-color: yellow;
}
